<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ContactUs</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     <H1>------------------------Welcome To Mobile Store--------------------------</H1>
     <h3 >Contact Us For Any Query :</h3>
        
          <li> Phone No:+916755433254 <i class="fa-sharp fa-solid fa-phone fa-shake"></i></li>
          <li>Email:mobilestore@gmail.com <i class="fa-solid fa-envelope fa-fade"></i></li>  
          <li>Service Center Address:Sr.no-123,Parvati Paytha ,Dhankawadi <i class="fa-solid fa-wrench fa-spin-pulse"></i></li>
          
     
     
     </body>
</html>

