<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishlist</title>
</head>
<body><br>
    
    <!-- <img src="assets/images/products/mobiles/mobile-1000.jpeg "  alt="" height="100px">
    <p style="color: aqua;">64GB ROM 15.5cm Display 12MP Rear Camera 7MP Front Camera</p>
     
    <img src="assets/images/products/mobiles/mobile-1001.jpeg" alt="" height="100px">
    <p style="color: aqua;">64GB ROM 15.49cm Liquid Retina HD Display 12MP + 12MP 12MP Front Camera</p> -->
   

</body>
</html>
